/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ECC12E;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #886E54;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #634D44;
  }
       
       
       
       
       body {
            background: #F6F4E7;
            margin:0;

        }

        header {
            text-align: center;
        }
        .langOptions{
            color:white;
            text-align: center;
           margin:auto;
            margin: -50px 0 0 0;
        }
        .top {
            margin: -50px 0  0;
            height: 900px;
            
            background-size: cover;
            background-image: url("https://user-images.githubusercontent.com/28853235/158935861-fb8f2462-c88c-4d16-8841-2baa9996c33f.png");
        }

        li {
            display: inline;
            padding: 0 40px 0 40px;
        }
.pic{
position:relative;
    height:850px;
}
.insite{
    position:relative;

    max-height:800px;
}
.onTop{
    right:0;
    left:0;
    margin: auto;
    position:absolute;
    max-height:800px;

}
.games{
    height: 450px;
text-align: center;
}

.article {
            height: auto;
            border-radius: 10px;
            margin: 0 50px 0 50px;
            text-align: center;
        }

        #icon {
            height: 100px;
        }

        h1 {
            font-family: 'Noto Serif SC', SC;
        }

        p {
            font-family: 'Noto Serif SC', serif;
        }
        footer{
    width: 100%;
            margin:0 auto;
            height:40px;
            background: orange;
            text-align: center;
        }
/*--------------------------*/
.reveal{
transform: translateY(100px);
opacity: 0;
transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

@media(max-width:1400px){
.insite
{
    position:relative;

    max-height:500px;
}
.onTop
{
    right:0;
    left:0;
    margin: auto;
    position:absolute;
    max-height:500px;
}

}
@media(max-width:800px){
    .top {
            margin: -50px 0 0 0;
            height: 400px;}
    .insite{
    position:relative;

    max-height:300px;
}
.onTop{
    right:0;
    left:0;
    margin: auto;
    position:absolute;
    max-height:300px;}

}
@media(max-width:500px){
    .top {
            margin: -50px 0 0 0;
            height: 250px;}
    .insite{
    position:relative;

    max-height:200px;
}
.games{
    height: 650px;
}
.onTop{
    right:0;
    left:0;
    margin: auto;
    position:absolute;
    max-height:200px;}
    .pic{
position:relative;
    height:250px;
}
}
